body {background-color: goldenrod; color: MidnightBlue; font: arial; font-size: 34px;}
a:link {font: arial;font-size:34px; color:MidnightBlue}
a:visited {font: arial;font-size:34px; color:MidnightBlue}

